.slider {
    position: relative;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: content;
}

.right-arrow {
    /* display: flex; */
    position: absolute;
    top: 35%;
    right: -60px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

    .right-arrow:hover {
        color: darkcyan;
    }

    .right-arrow:active {
        color: aquamarine;
    }


.left-arrow {
    /* display: flex; */
    position: absolute;
    top: 35%;
    left: -60px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

    .left-arrow:hover {
        color: darkcyan;
    }

    .left-arrow:active {
        color: aquamarine;
    }

.slide {
    display: flex;
    opacity: 0;
    transition-duration: 1s;
    height: inherit;
}

    .slide.active {
        display: flex;
        opacity: 1;
    }
