.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: var(--myGrey);
    flex-grow: 1;
    min-width: 100%;
}

#contactform {
    display: flex;
}

#contacttemplate {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    min-width: 300px;
}

#messageform {
    min-height: 200px;
}

.courier {
    font-family: Courier New;
}