.parallaxImage {
    position: relative;
    height: 100vh;
    width: 100%;
}

.parallaxContent {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100%;

}

    .parallaxContent span.contentText {
        background-color: var(--myGrey);
        color: black;
        text-transform: uppercase;
        font-size: 2rem;
        letter-spacing: 10px;
        padding: 1rem;
        border-radius: 10px;
        font-weight: bold;
        box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.6);
        
    }

.betweenParallaxBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: var(--myGrey);
    border: 1px solid var(--myGrey);
    box-shadow: 12px 0 15px -4px rgba(195, 141, 158, 0.8), -12px 0 8px -4px rgba(195, 141, 158, 0.8);
    line-height: 40px;
}

    .betweenParallaxBox span {
        padding: 20px;
    }
